<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Options &#124; Keyword Blocker</title>
</head>
<body>
    <main class="options">
        <%=require('./partials/options/password_menu.html')%>
        <ul class="tabs" role="tablist" id="options-menu">
            <%=require('./partials/options/options_tab.html')%>
            <%=require('./partials/options/keywords_tab.html')%>
            <%=require('./partials/options/channels_tab.html')%>
            <%=require('./partials/options/about_tab.html')%>
        </ul>
    </main>
</body>
</html>